@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;600;700&family=Karla:wght@300&family=Noto+Sans:ital@1&family=Open+Sans:wght@600&family=Oswald&family=Poppins:wght@500&family=Raleway:wght@300;400;600;800&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;
}


/* common styles */

.container {
    max-width: 100%;
}

.title {
    font-size: 60px;
    color: #E02C6D;
    font-weight: bold;
    line-height: 1.5;
}

.primary-btn {
    width: 180px;
    height: 60px;
    border: none;
    background-color: #E02C6D;
    margin-top: 18px;
    transition: all 0.1s ease;
}

.primary-btn a {
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    color: #fff;
    margin: 5px 10px;
    padding: 5px 5px;
}

.primary-btn:active {
    transform: scale(1.1);
}


/* navigation-styles start */

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    top: 50px;
    padding: 10px 10px;
    height: 120px;
}

.nav-title {
    font-size: 24px;
    font-weight: bold;
}

.nav-menu {}

.nav-menu ul {
    display: flex;
}

.nav-menu ul li {
    list-style: none;
    margin-left: 24px;
    font-size: 18px;
    font-weight: bold;
}

.nav-menu ul li a {
    text-decoration: none;
    color: rgb(44, 44, 44);
}


/* navigation-styles end */


/* banner-style start*/

.banner-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    margin-top: 150px;
}

.left-banner-content {
    position: relative;
    left: 280px;
}

.left-banner {
    width: 70%;
}

.left-banner p {
    font-size: 18px;
    font-weight: normal;
    text-align: justify;
    margin-top: 16px;
    line-height: 1.5;
}

.right-banner-content {
    position: relative;
    left: 170px;
}

.right-banner {
    width: 60%;
}

.right-banner-img img {
    width: 500px;
    border-radius: 10%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


/* banner-style end*/


/* company logo styles start*/

.company-logo-section {
    width: 84%;
}

.companys-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
    margin-left: 350px;
    border-top: 2px solid rgb(206, 198, 198);
    border-bottom: .5px solid rgb(206, 198, 198);
    padding: 20px 50px;
    border-top-height: 5px;
}

.logo {
    margin-left: 50px;
}

.logo img {
    width: 100px;
    height: 45px;
}


/* company logo styles end*/


/* product styles start */

#product-text {
    font-size: 36px;
    text-align: center;
    margin-top: 120px;
}

.product-collections {
    width: 80%;
    position: relative;
    left: 290px;
    top: 100px;
}

.product-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    git-gap: 10px;
    justify-content: center;
}

.card {
    width: 329px;
    height: 486px;
    margin: 30px 0;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    border-radius: 10px;
    transition: all 1.7s ease;
}

.card:hover {
    transform: scale(1.2);
}

.card img {
    width: 100%;
}

.card h1 {
    font-size: 24px;
    color: #E02C6D;
    font-weight: bold;
    line-height: 1.5;
    margin-left: 10px;
}

.card h2 {
    font-size: 22px;
    color: rgb(170, 145, 7);
    font-weight: bold;
    line-height: 1.5;
    margin-left: 10px;
}

.card p {
    font-size: 18px;
    color: rgb(161, 159, 159);
    font-weight: normal;
    margin-top: 10px;
    margin-left: 10px;
}

.card a {
    text-decoration: none;
    font-size: 18px;
    color: #ce346c;
    font-weight: normal;
    line-height: 2;
    margin-left: 10px;
}

.fa-star {
    color: #E02C6D;
    margin-left: 10px;
}

.see-more-btn {
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 270px;
    top: 120px;
    padding: 10px;
}

.see-more-btn a {
    text-decoration: none;
    color: #E02C6D;
    font-weight: bold;
    font-size: 22px;
    padding: 5px;
}

.fa-arrow-right {
    margin-left: 8px;
}


/* product styles end */


/*contact us section start*/

.contact-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    position: relative;
    top: 200px;
    left: 270px;
    width: 80%;
}

.contact-left {
    width: 40%;
    margin-left: 100px;
}

.contact-left img {
    width: 700px;
    height: 350px;
}

.contact-right {
    width: 40%;
    margin-left: 130px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filled-input {
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    font-size: 18px;
    font-family: inherit;
    font-weight: 300;
    outline: 0;
    border: 1px solid #FF008E;
}

.contact-text {
    font-size: 40px;
    font-family: bold;
    color: #E02C6D;
}

.contact-bnt {
    width: 80px;
    height: 35px;
    background-color: #FF008E;
    border: none;
}

.contact-bnt a {
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}


/* contact us section end */

footer {
    width: 100%;
    height: 300px;
    background-color: #0A0826;
    position: relative;
    top: 350px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 150px;
}

.footer-text h1 {
    font-size: 32px;
    font-weight: bold;
    color: #fff;
    line-height: 1.5;
}

.footer-text p {
    font-size: 16px;
    color: #fff;
    line-height: 1.5;
    text-align: center;
}

.footer-text p:nth-child(3) {
    text-align: center;
}

.footer-icon {
    position: relative;
    left: 40px;
}

.footer-icon a {
    font-size: 40px;
    color: #fff;
    padding: 10px 10px;
}


/*----------- Responsive style using media -------------------------queries*/

@media only screen and (max-width:688px) {
    html,
    body {
        overflow-x: hidden;
        max-width: 100%;
        scroll-behavior: smooth;
    }
    .container {
        max-width: 90%;
    }
    /* navigation-styles start */
    .navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        top: 50px;
        padding: 10px 10px;
        height: 120px;
    }
    .nav-title {
        font-size: 20px;
        font-weight: bold;
        position: relative;
        top: 16px;
        left: 16px;
    }
    .nav-menu ul {
        display: block;
        position: relative;
        top: 10px;
    }
    .nav-menu ul li {
        margin-top: 16px;
    }
    /* navigation-styles end */
    /* banner-style start*/
    .banner-section {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        align-items: center;
        margin-top: 150px;
    }
    .left-banner-content {
        position: relative;
        left: 90px;
    }
    .left-banner {
        width: 60%;
    }
    .title {
        font-size: 40px;
        color: #E02C6D;
        font-weight: bold;
        line-height: 1;
    }
    .right-banner-content {
        position: relative;
        left: 40px;
        top: 50px;
    }
    .right-banner {
        width: 40%;
    }
    .right-banner-img img {
        width: 300px;
        border-radius: 10%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    /* banner-style end*/
    /* company logo style start */
    .company-logo-section {
        max-width: 90%;
    }
    .companys-logo {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        position: relative;
        right: 220px;
        top: -30px;
    }
    .logo {
        margin-left: 10px;
    }
    /* company logo style end */
    /* products styles start */
    .product-collections {
        position: relative;
        left: 50px;
        top: 50px;
    }
    .product-card {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        git-gap: 10px;
        justify-content: center;
    }
    .see-more-btn {
        display: flex;
        justify-content: flex-end;
        position: relative;
        right: 80px;
        top: 100px;
        padding: 10px;
    }
    /* products styles end */
    /* contact us styles start */
    .contact-us {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        position: relative;
        top: 180px;
        left: 200px;
    }
    .contact-left {
        width: 40%;
        margin-right: 400px;
    }
    .contact-left img {
        width: 300px;
        height: 250px;
        object-fit: cover;
    }
    .contact-right {
        width: 40%;
        margin-left: 90px;
        margin-top: 50px;
    }
    /* contact us styles end */
    footer {
        width: 110%;
        height: 300px;
        background-color: #0A0826;
        position: relative;
        top: 350px;
    }
}

@media only screen and (min-width:688px) and (max-width:992px) {
    html,
    body {
        overflow-x: hidden;
        max-width: 100%;
        scroll-behavior: smooth;
    }
    .container {
        max-width: 100%;
    }
    /* banner-style start*/
    .banner-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: center;
        margin-top: 150px;
        width: 100%;
    }
    .left-banner-content {
        position: relative;
        left: 100px;
        width: 300px;
    }
    .left-banner {
        width: 50%;
    }
    .left-banner p {
        font-size: 18px;
        font-weight: normal;
        text-align: justify;
        margin-top: 16px;
        line-height: 1.5;
    }
    .right-banner-content {
        position: relative;
        left: 60px;
    }
    .right-banner {
        width: 50%;
    }
    .right-banner-img img {
        width: 300px;
        border-radius: 10%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    /* banner-style end*/
    /* company logo styles start*/
    .company-logo-section {
        width: 100%;
    }
    .companys-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 200px;
        margin-left: 0;
        border-top: 2px solid rgb(206, 198, 198);
        border-bottom: .5px solid rgb(206, 198, 198);
        border-top-height: 5px;
    }
    .logo {
        margin-left: 20px;
    }
    .logo img {
        width: 80px;
        height: 35px;
    }
    /* company logo styles end*/
    /* product style start */
    .product-collections {
        width: 100%;
        position: relative;
        left: 35px;
        top: 60px;
    }
    .product-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        git-gap: 10px;
        justify-content: center;
    }
    /* product style end */
    /*contact us section start*/
    .contact-us {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        position: relative;
        top: 250px;
        left: 30px;
        width: 100%;
    }
    .contact-left {
        width: 50%;
        margin-left: 40px;
    }
    .contact-left img {
        width: 700px;
        height: 350px;
    }
    .contact-right {
        width: 50%;
        margin-left: 200px;
        margin-top: 30px;
    }
}

@media only screen and (min-width:992px) and (max-width:1280px) {
    html,
    body {
        overflow-x: hidden;
        max-width: 100%;
        scroll-behavior: smooth;
    }
    /* banner style */
    .left-banner-content {
        position: relative;
        left: 130px;
    }
    .left-banner {
        width: 50%;
    }
    .right-banner-content {
        position: relative;
        left: 50px;
    }
    .right-banner {
        width: 50%;
    }
    .right-banner-img img {
        width: 400px;
        border-radius: 10%;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    /* company style */
    .company-logo-section {
        width: 100%;
    }
    .companys-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 250px;
        margin-left: 0;
        border-top: 2px solid rgb(206, 198, 198);
        border-bottom: .5px solid rgb(206, 198, 198);
        padding: 20px 50px;
        border-top-height: 5px;
    }
    .logo {
        margin-left: 30px;
    }
    /* product style */
    .product-collections {
        width: 100%;
        position: relative;
        left: 90px;
        top: 80px;
    }
    .product-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        git-gap: 10px;
        justify-content: center;
    }
    /* contact us style */
    .contact-us {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        justify-content: center;
        position: relative;
        top: 250px;
        left: 70px;
        width: 100%;
    }
    .contact-left {
        width: 50%;
        margin-left: 100px;
    }
    .contact-left img {
        width: 700px;
        height: 350px;
    }
    .contact-right {
        width: 50%;
        margin-left: 200px;
        margin-top: 50px;
    }
}